.checkout-page {
    width: 65%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px auto 0;
    
    @media only screen and (max-width: 900px){
      margin: 0px auto 0;
      width: 80%;
    }
    @media only screen and (max-width: 600px){
      margin: 0px auto 0;
      width: 95%;
    }
  
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
      color: #57277e;
  
      .header-block {
        text-transform: capitalize;
        width: 22%;
  
        &:last-child {
          width: 12%;
        }
      }
    }
  
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;
      color: #57277e;
    }

    .demo-card-info {
      color: #ff2211;
      text-align: center;
      font-size: 1.5rem;
    }
  }
  